<h1>New Goal</h1>

<form action="<%=goals_url%>" method="POST">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label> Content
    <input type="text" name="goal[content]" >
  </label>
  <br>
  <h2> Completed? </h2>
  <label> Incomplete
    <input type="radio" name="goal[completed]" value="false" checked>
  </label>
  <label> Complete
    <input type="radio" name="goal[completed]" value="true">
  </label>
  <br>
  <h2> Public? </h2>
  <label> Public
    <input type="radio" name="goal[privated]" value="false" checked>
  </label>
  <br>
  <label> Private
    <input type="radio" name="goal[privated]" value="true">
  </label>
  <br>

  <input type="submit" value="Make Goal">
</form>
